configuration {
    modi: "drun,run,window";
    font: "Cascadia Code 11";
    show-icons: true;
    icon-theme: "Papirus-Dark";
    display-drun: "Apps";
    display-run: "Run";
    display-window: "Window";
    drun-display-format: "{icon} {name}";
    disable-history: false;
    sidebar-mode: false;
}

@theme "tokyonight"

window {
    width: 50%;
    location: center;
    anchor: center;
    y-offset: 0;
    x-offset: 0;
}

listview {
    lines: 12;
    columns: 1;
}
